<!DOCTYPE html>
<head>
    <style>
        body {
            background: #82b1cc;
            text-align: center;
        }

        .main {
            margin: 0 auto 0 auto;
            padding: 3px;
            background: #d1d1d1;
            text-align: center;
            border: 2px solid black;
        }
        table{
            margin: 0 auto 0 auto;
            background: #d1d1d1;
            text-align: center;
            border: 2px solid black;
            border-spacing: 5px;
        }
        td, th{
            padding: 5px;
            background: #d1d1d1;
            border: 2px solid black;
        }
        .OK{
            position: absolute;
            z-index:  100;
            top:30%;
            left:33%;
            margin: 0 auto 0 auto;
            padding: 3px;
            background: #82b1cc;
            text-align: center;
            border: 2px solid black;
            width:35%;
            height:20%;
        }
    </style>
</head>
<body>
    <form method="get">
        <table>
            <tr>
                <th></th>
                <th>id</th>
                <th>Имя</th>
                <th>Категория</th>
                <th>Цена</th>
                <th>Описание</th>
            </tr>
            @{
                for (int i = 0; i < ViewBag.obj.Count; i++)
                {
                    <tr>
                        <td><input type="checkbox" name="checkboxlist" value="@ViewBag.obj[i].id"></td>
                        <td>@ViewBag.obj[i].id</td>
                        <td>@ViewBag.obj[i].name</td>
                        <td>@ViewBag.obj[i].category</td>
                        <td>@ViewBag.obj[i].price</td>
                        <td>@ViewBag.obj[i].description</td>
                    </tr>
                }
            }
        </table>
        <input type="submit" value="Удалить" size="10" name="button">  
    </form>
    @{
        if (ViewBag.save == true)
        {
            <div class="OK">
                <h1>Успешно Сохранено</h1>
            </div>
        }
        else if (ViewBag.save == false)
        {
            <div class="OK">
                <h1>ошибка ничего не сохранилось</h1>
            </div>
        }
    }
</body>